@import './base.css';
@import './variables.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Figtree', sans-serif;
  color: #2b2b2b;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--muted-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-shadow);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--muted-bg);
}

::-webkit-scrollbar-thumb:active {
  background: var(--foreground);
}
